*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(img/backgroundquiz.jpg);
    background-repeat: repeat;
    background-size: cover;
    font-family: "Reddit Mono", monospace;
    color: white;
}

.quiz-logo {
    height: 40px;
    text-align: center;
    background-color: rgb(56, 52, 59, 0.7);
    margin-bottom: 20px;
}

.quiz {
    display: flex;
    align-items: center;
}

.quiz.active {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.quiz-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.quiz-card {
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 400px;
    height: 600px;
    background-color: rgb(39, 36, 41);
    border-radius: 15px;
    overflow: hidden;
}

.quiz-card__header h2 {
    margin-bottom: 20px;
}

.quiz-card__image {
    width: 100%;
    height: 100%;
    max-height: 200px;
    margin-bottom: 20px;
}

.quiz-card__description {
    margin-bottom: 30px;
    height: 150px;
}

.quiz-card__footer {
    margin-top: 20px;
}

.quiz__container {
    background-color: rgb(39, 36, 41);
    box-shadow: 0px 0px 19px 4px rgba(255, 255, 255, 0.07);
    width: 700px;
    min-height: 350px;
    max-width: 95vw;
    padding: 15px;
}

.quiz__title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

.quiz__start-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.quiz__start-rules {
    font-size: 1.4rem;
    line-height: 48px;
    list-style: none;
    margin-bottom: 30px;
}

.quiz__start-change-difficulty {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    font-size: 1.3rem;
}

.quiz__start-change-difficulty label {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    min-width: 100px;
    box-shadow: 0px 0px 19px 4px rgba(255, 255, 255, 0.07);
    margin-bottom: 20px;
}


.quiz__start-change-difficulty label:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px rgba(156, 196, 210, 0.46);
    transition: 0.2s;
}

.quiz__start-change-difficulty label:nth-child(1) {
    background-color: rgb(50, 148, 94);
}

.quiz__start-change-difficulty label:nth-child(2) {
    background-color: rgb(202, 156, 58);
}

.quiz__start-change-difficulty label:nth-child(3) {
    background-color: rgb(143, 9, 9);
}

.quiz__start-change-difficulty input {
    display: none;
}

.block__header {
    font-size: 2rem;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.question-timer {
    display: flex;
}

.question-timer__minutes::after {
    content: ":";
}

.block__current-question {
    display: flex;
    justify-content: space-between;
}

.question-name {
    font-size: 2rem;
}

.block__questions {
    margin-bottom: 30px;
}

.quiz__list {
    font-size: 1.3rem;
}

.option {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 1px solid white;
    transition: 0.2s;
}

.option:hover {
    background-color: rgb(56, 52, 59);
}

.block__option {
    display: flex;
    justify-content: center;
}


.button {
    cursor: pointer;
    font-size: 2rem;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
}

.button:hover {
    background-color: rgb(138, 131, 141)
}

.button:disabled {
    cursor: not-allowed;
}

.start-button {
    height: 70px;
    width: 250px;
}


.result-button {
    margin-top: 20px;
    background-color: rgb(56, 52, 59);
    color: white;
    width: 140px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Модальное окно*/
.quiz-over__modal {
    border-radius: 20px;
    color: rgb(56, 52, 59);
    position: absolute;
    width: 300px;
    height: 160px;
    background-color: rgb(255, 255, 255);
}

.quiz-over__header {
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
}

.quiz-over__inner {
    margin-top: 20px;
    text-align: center;
}

/* Классы состояния */
.correct {
    background-color: green;
}

.correct:hover {
    background-color: rgb(0, 87, 0);
}

.incorrect {
    background-color: red;
}

.incorrect:hover {
    background-color: rgb(194, 0, 0);
}

.disabled {
    pointer-events: none;
}

.hide {
    display: none;
}

.chosen {
    border: 2px rgb(255, 255, 255) solid;
}